.workspace
    .workspace-header.area-round
        .workspace-title
            img.m-0(src="assets/logo.png")
        
        .workspace-header-menu.row.align-items-center
            .col-auto
                span.status-indicator.status-indicator-animated.status-primary
                    span.status-indicator-circle
                    span.status-indicator-circle
                    span.status-indicator-circle

            .col(style="line-height: 1;")
                h2.page-title @wiz.title

            .col-auto.actions.if-desktop
                wiz-core-topmenu([event]="event")

    .workspace-body
        .workspace-leftmenu
            .d-block
                .btn((click)="leftmenu.toggle('angular')", [ngClass]="leftmenu.mode == 'angular' ? 'active' : ''")
                    i.fa-brands.fa-angular
                    .hover-area
                        .sidemenu-icon
                            i.fa-brands.fa-angular
                        span Angular

            .d-block
                .btn((click)="leftmenu.toggle('page')", [ngClass]="leftmenu.mode == 'page' ? 'active' : ''")
                    i.fa-solid.fa-window-restore
                    .hover-area
                        .sidemenu-icon
                            i.fa-solid.fa-window-restore
                        span Page
            
            .d-block
                .btn((click)="leftmenu.toggle('layout')", [ngClass]="leftmenu.mode == 'layout' ? 'active' : ''")
                    i.fa-solid.fa-table-columns
                    .hover-area
                        .sidemenu-icon
                            i.fa-solid.fa-table-columns
                        span Layout

            .d-block
                .btn((click)="leftmenu.toggle('component')", [ngClass]="leftmenu.mode == 'component' ? 'active' : ''")
                    i.fa-solid.fa-cubes
                    .hover-area
                        .sidemenu-icon
                            i.fa-solid.fa-cubes
                        span Component
            
            .d-block
                .btn((click)="leftmenu.toggle('route')", [ngClass]="leftmenu.mode == 'route' ? 'active' : ''")
                    i.fa-solid.fa-link
                    .hover-area
                        .sidemenu-icon
                            i.fa-solid.fa-link
                        span Route API
            
            .d-block
                .btn((click)="leftmenu.toggle('model')", [ngClass]="leftmenu.mode == 'model' ? 'active' : ''")
                    i.fa-solid.fa-database
                    .hover-area
                        .sidemenu-icon
                            i.fa-solid.fa-database
                        span Model
            
            .d-block
                .btn((click)="leftmenu.toggle('controller')", [ngClass]="leftmenu.mode == 'controller' ? 'active' : ''")
                    i.fa-solid.fa-filter
                    .hover-area
                        .sidemenu-icon
                            i.fa-solid.fa-filter
                        span Controller

            .d-block
                .btn((click)="leftmenu.toggle('service')", [ngClass]="leftmenu.mode == 'service' ? 'active' : ''")
                    i.fa-solid.fa-hammer
                    .hover-area
                        .sidemenu-icon
                            i.fa-solid.fa-hammer
                        span Service

            .d-block
                .btn((click)="leftmenu.toggle('styles')", [ngClass]="leftmenu.mode == 'styles' ? 'active' : ''")
                    i.fa-brands.fa-css3-alt
                    .hover-area
                        .sidemenu-icon
                            i.fa-brands.fa-css3-alt
                        span Styles

            .d-block
                .btn((click)="leftmenu.toggle('assets')", [ngClass]="leftmenu.mode == 'assets' ? 'active' : ''")
                    i.fa-solid.fa-images
                    .hover-area
                        .sidemenu-icon
                            i.fa-solid.fa-images
                        span Assets

        .workspace-leftapp.area-round(*ngIf="leftmenu.mode")
            wiz-core-leftmenu-apps(*ngIf="leftmenu.mode == 'page'", [event]="event", [appmode]="'page'")
            wiz-core-leftmenu-apps(*ngIf="leftmenu.mode == 'layout'", [event]="event", [appmode]="'layout'")
            wiz-core-leftmenu-apps(*ngIf="leftmenu.mode == 'component'", [event]="event", [appmode]="'component'")
            wiz-core-leftmenu-angular(*ngIf="leftmenu.mode == 'angular'", [event]="event")
            wiz-core-leftmenu-route(*ngIf="leftmenu.mode == 'route'", [event]="event")

        .workspace-editor
            .editor-list
                .editor-body(*ngFor="let item of editor.data", [ngClass]="editor.activated && item.editor_id == editor.activated.editor_id ? 'active' : ''", (click)="editor.active(item)")
                    .editor-header 
                        .header-text
                            span {{item.title}}
                            small.ml-1(*ngIf="item.subtitle") ({{item.subtitle}})
                        .actions
                            .btn.btn-square.btn-sm.btn-primary.p-2((click)="editor.minify(item)")
                                i.fa-solid.fa-minus
                            .btn.btn-square.btn-sm.btn-primary.p-2((click)="editor.close(item)")
                                i.fa-solid.fa-xmark

                    .editor-selector(*ngIf="item.tabs.length > 1")
                        a.btn.btn-square.btn-sm.p-2(*ngFor="let tab of item.tabs; index as idx", (click)="editor.load(item, idx)", [ngClass]="idx == item.current ? 'btn-white' : 'btn-primary'") {{tab.name}}
                        
                    .editor-container
                        .editor-info(*ngIf="item.tabs[item.current].mode == 'info.app'")
                            .editor-info-container.area-round
                                h3 App Info

                                .form-group.row
                                    .col-3
                                        label.form-label.col-form-label Title
                                    .col
                                        input.form-control.form-control-sm(type="text" placeholder="page.auth.login", [(ngModel)]="item.info.title")
                                
                                .form-group.row
                                    .col-3
                                        label.form-label.col-form-label Namespace
                                    .col
                                        input.form-control.form-control-sm(type="text" placeholder="page.auth.login", [(ngModel)]="item.info.namespace")

                                .form-group.row
                                    .col-3
                                        label.form-label.col-form-label Category
                                    .col
                                        input.form-control.form-control-sm(type="text" placeholder="page.auth.login", [(ngModel)]="item.info.category")

                        .editor-info(*ngIf="item.tabs[item.current].mode == 'info.route'")
                            .editor-info-container.area-round
                                h3 Route Info

                                .form-group.row
                                    .col-3
                                        label.form-label.col-form-label Title
                                    .col
                                        input.form-control.form-control-sm(type="text" placeholder="page.auth.login", [(ngModel)]="item.info.title")
                                
                                .form-group.row
                                    .col-3
                                        label.form-label.col-form-label ID
                                    .col
                                        input.form-control.form-control-sm(type="text" placeholder="auth.login", [(ngModel)]="item.info.id")

                                .form-group.row
                                    .col-3
                                        label.form-label.col-form-label Route
                                    .col
                                        input.form-control.form-control-sm(type="text" placeholder="/app/<path:path>", [(ngModel)]="item.info.route")

                                .form-group.row
                                    .col-3
                                        label.form-label.col-form-label Category
                                    .col
                                        input.form-control.form-control-sm(type="text" placeholder="page.auth.login", [(ngModel)]="item.info.category")

                        .editor-monaco(*ngIf="item.tabs[item.current].mode == 'code'")
                            nu-monaco-editor([(ngModel)]="editor.files[item.tabs[item.current].path]", [options]="item.tabs[item.current].config", [height]="'100%'", (event)="init.editor(item, $event)")

            .editor-minified(*ngIf="editor.minified.length > 0")
                .minified-padding
                .minified-item(*ngFor="let item of editor.minified", (click)="editor.reopen(item)") 
                    span {{item.title}}

        .workspace-rightapp(*ngIf="rightmenu.mode")
            wiz-core-rightmenu-pip(*ngIf="rightmenu.mode == 'pip'", [event]="event")
            wiz-core-rightmenu-npm(*ngIf="rightmenu.mode == 'npm'", [event]="event")

        .workspace-rightmenu
            .d-block
                .btn
                    i.fa-solid.fa-eye
                    .hover-area
                        span Preview
                        .sidemenu-icon
                            i.fa-solid.fa-eye
            
            .d-block
                .btn
                    i.fa-solid.fa-code-branch
                    .hover-area
                        span Branch
                        .sidemenu-icon
                            i.fa-solid.fa-code-branch

            .d-block
                .btn((click)="rightmenu.toggle('npm')", [ngClass]="rightmenu.mode == 'npm' ? 'active' : ''")
                    i.fa-solid.fa-boxes-packing
                    .hover-area
                        span NPM Package
                        .sidemenu-icon
                            i.fa-solid.fa-boxes-packing
            
            .d-block
                .btn((click)="rightmenu.toggle('pip')", [ngClass]="rightmenu.mode == 'pip' ? 'active' : ''")
                    i.fa-brands.fa-python
                    .hover-area
                        span PIP Package
                        .sidemenu-icon
                            i.fa-brands.fa-python

            .d-block
                .btn
                    i.fa-solid.fa-cog
                    .hover-area
                        span Config
                        .sidemenu-icon
                            i.fa-solid.fa-cog

            .mt-auto

            .d-block
                .btn
                    i.fa-solid.fa-wrench
                    .hover-area
                        span Server Setting
                        .sidemenu-icon
                            i.fa-solid.fa-wrench

            .d-block
                .btn
                    i.fa-solid.fa-heart-pulse
                    .hover-area
                        span System Status
                        .sidemenu-icon
                            i.fa-solid.fa-heart-pulse

            .d-block
                .btn
                    i.fa-solid.fa-keyboard
                    .hover-area
                        span Shortcuts
                        .sidemenu-icon
                            i.fa-solid.fa-keyboard

    ng-keyboard-shortcuts([shortcuts]="shortcuts")
    ngx-loading([show]="loading.status")
