.workspace
    .d-none
        #dummy-modal-click((click)="alert.cache()")

    .workspace-header.area-round
        .workspace-title
            img.m-0(src="assets/logo.png")
        
        .workspace-header-menu.row.align-items-center
            .col-auto
                span.status-indicator.status-indicator-animated.status-primary
                    span.status-indicator-circle
                    span.status-indicator-circle
                    span.status-indicator-circle

            .col(style="line-height: 1;")
                h2.page-title @wiz.title

            .col-auto.actions.if-desktop
                wiz-core-topmenu([scope]="scope")

    .workspace-body
        .workspace-leftmenu
            .d-block(*ngFor="let item of leftmenu.top")
                .btn((click)="leftmenu.toggle(item.id)", [ngClass]="leftmenu.mode == item.id ? 'active' : ''")
                    i(class="{{ item.icon }}")
                    .hover-area
                        .sidemenu-icon
                            i(class="{{ item.icon }}")
                        span {{ item.name }}
            .mt-auto
            .d-block(*ngFor="let item of leftmenu.bottom")
                .btn((click)="leftmenu.toggle(item.id)", [ngClass]="leftmenu.mode == item.id ? 'active' : ''")
                    i(class="{{ item.icon }}")
                    .hover-area
                        .sidemenu-icon
                            i(class="{{ item.icon }}")
                        span {{ item.name }}

        .workspace-leftapp.area-round(*ngIf="leftmenu.mode")
            wiz-config-leftmenu([scope]="scope", [menu]="leftmenu", [binding]="binding")

        .workspace-editor
            .editor-list([sortablejs]="editorManager.editable", [sortablejsOptions]="{ animation: 150, handle: '.editor-header' }")
                .editor-body(*ngFor="let item of editorManager.editable", [ngClass]="editorManager.activated && item.id == editorManager.activated.id ? 'active' : ''", (click)="item.activate()")
                    .editor-header 
                        .header-text
                            span {{item.title}}
                            small.ml-1(*ngIf="item.subtitle") ({{item.subtitle}})
                        .actions
                            .btn.btn-square.btn-sm.btn-primary.p-2((click)="item.minify()")
                                i.fa-solid.fa-minus
                            .btn.btn-square.btn-sm.btn-primary.p-2((click)="item.close()")
                                i.fa-solid.fa-xmark

                    .editor-selector(*ngIf="item.tabs.length > 1")
                        a.btn.btn-square.btn-sm.p-2(*ngFor="let tab of item.tabs; index as idx", (click)="item.select(idx)", [ngClass]="idx == item.current ? 'btn-white' : 'btn-primary'") {{tab.name}}
                        
                    .editor-container(*ngIf="item.tab()")
                        .editor-overlay
                        wiz-core-editor([scope]="scope", [editor]="item")

            .editor-minified(*ngIf="editorManager.minified.length > 0")
                .minified-padding
                .minified-item(*ngFor="let item of editorManager.minified", (click)="item.activate()") 
                    span {{item.title}}

        .workspace-rightapp(*ngIf="rightmenu.mode", style="width: {{ rightmenu.width }}px;")
            wiz-config-rightmenu([scope]="scope", [menu]="rightmenu", [binding]="binding")

        .workspace-rightmenu
            .d-block(*ngFor="let item of rightmenu.top")
                .btn((click)="rightmenu.toggle(item)", [ngClass]="rightmenu.mode == item.id ? 'active' : ''")
                    i(class="{{ item.icon }}")
                    .hover-area
                        span {{ item.name }}
                        .sidemenu-icon
                            i(class="{{ item.icon }}")
            .mt-auto
            .d-block(*ngFor="let item of rightmenu.bottom")
                .btn((click)="rightmenu.toggle(item)", [ngClass]="rightmenu.mode == item.id ? 'active' : ''")
                    i(class="{{ item.icon }}")
                    .hover-area
                        span {{ item.name }}
                        .sidemenu-icon
                            i(class="{{ item.icon }}")

    wiz-config-shortcuts([scope]="scope")
    ngx-loading([show]="loading.status")
